[submodule "api"]
	path = api
	url = https://github.com/twinfoundation/api.git
	branch = next
[submodule "attestation"]
	path = attestation
	url = https://github.com/twinfoundation/attestation.git
	branch = next
[submodule "auditable-item-graph"]
	path = auditable-item-graph
	url = https://github.com/twinfoundation/auditable-item-graph.git
	branch = next
[submodule "blob-storage"]
	path = blob-storage
	url = https://github.com/twinfoundation/blob-storage.git
	branch = next
[submodule "data"]
	path = data
	url = https://github.com/twinfoundation/data.git
	branch = next
[submodule "dlt"]
	path = dlt
	url = https://github.com/twinfoundation/dlt.git
	branch = next
[submodule "entity-storage"]
	path = entity-storage
	url = https://github.com/twinfoundation/entity-storage.git
	branch = next
[submodule "framework"]
	path = framework
	url = https://github.com/twinfoundation/framework.git
	branch = next
[submodule "identity"]
	path = identity
	url = https://github.com/twinfoundation/identity.git
	branch = next
[submodule "verifiable-storage"]
	path = verifiable-storage
	url = https://github.com/twinfoundation/verifiable-storage.git
	branch = next
[submodule "logging"]
	path = logging
	url = https://github.com/twinfoundation/logging.git
	branch = next
[submodule "nft"]
	path = nft
	url = https://github.com/twinfoundation/nft.git
	branch = next
[submodule "standards"]
	path = standards
	url = https://github.com/twinfoundation/standards.git
	branch = next
[submodule "telemetry"]
	path = telemetry
	url = https://github.com/twinfoundation/telemetry.git
	branch = next
[submodule "tools"]
	path = tools
	url = https://github.com/twinfoundation/tools.git
	branch = next
[submodule "vault"]
	path = vault
	url = https://github.com/twinfoundation/vault.git
	branch = next
[submodule "wallet"]
	path = wallet
	url = https://github.com/twinfoundation/wallet.git
	branch = next
[submodule "auditable-item-stream"]
	path = auditable-item-stream
	url = https://github.com/twinfoundation/auditable-item-stream.git
	branch = next
[submodule "ui"]
	path = ui
	url = https://github.com/twinfoundation/ui.git
	branch = next
[submodule "immutable-proof"]
	path = immutable-proof
	url = https://github.com/twinfoundation/immutable-proof.git
	branch = next
[submodule "background-task"]
	path = background-task
	url = https://github.com/twinfoundation/background-task.git
	branch = next
[submodule "engine"]
	path = engine
	url = https://github.com/twinfoundation/engine.git
	branch = next
[submodule "event-bus"]
	path = event-bus
	url = https://github.com/twinfoundation/event-bus.git
	branch = next
[submodule "messaging"]
	path = messaging
	url = https://github.com/twinfoundation/messaging.git
	branch = next
[submodule "data-processing"]
	path = data-processing
	url = https://github.com/twinfoundation/data-processing.git
	branch = next
[submodule "document-management"]
	path = document-management
	url = https://github.com/twinfoundation/document-management.git
	branch = next
[submodule "schema"]
	path = schema
	url = https://github.com/twinfoundation/schema.git
	branch = next
[submodule "node"]
	path = node
	url = https://github.com/twinfoundation/node.git
	branch = next
[submodule "rights-management"]
	path = rights-management
	url = https://github.com/twinfoundation/rights-management.git
	branch = next
[submodule "federated-catalogue"]
	path = federated-catalogue
	url = https://github.com/twinfoundation/federated-catalogue.git
	branch = next
[submodule "docs"]
	path = docs
	url = https://github.com/twinfoundation/docs.git
	branch = next
[submodule "playground"]
	path = playground
	url = https://github.com/twinfoundation/playground.git
	branch = next
[submodule "synchronised-storage"]
	path = synchronised-storage
	url = https://github.com/twinfoundation/synchronised-storage.git
	branch = next
[submodule "data-space-connector"]
	path = data-space-connector
	url = https://github.com/twinfoundation/data-space-connector.git
	branch = next
[submodule "rfcs"]
	path = rfcs
	url = https://github.com/twinfoundation/rfcs.git
[submodule "trust"]
	path = trust
	url = https://github.com/twinfoundation/trust.git
